
1 - Introdução/.ipynb_checkpoints/Untitled-checkpoint.ipynb
.DS_Store
1 - Introdução/~$Slides-Introdução.pptx
*.pptx
1 - Introdução/.ipynb_checkpoints/HelloWorld-checkpoint.ipynb
2 - Linguagem de Programação Python/.ipynb_checkpoints/Linguagem Python-checkpoint.ipynb
2 - Linguagem de Programação Python/Lista de Exercícios – Linguagem de Programação Python.docx
2 - Linguagem de Programação Python/Exercícios/.ipynb_checkpoints/Soluções-checkpoint.ipynb
2 - Linguagem de Programação Python/Exercícios/Lista de Exercícios – Linguagem de Programação Python.docx
3 - Análise e Visualização de Dados/PP1/.ipynb_checkpoints/Projeto Prático #1.1 -- Explorando Dados-checkpoint.ipynb
3 - Análise e Visualização de Dados/PP1/.ipynb_checkpoints/Projeto Prático #1.2 -- Visualizando dados-checkpoint.ipynb
*.docx
3 - Análise e Visualização de Dados/PP1/.ipynb_checkpoints/Solução #1.1-checkpoint.ipynb
3 - Análise e Visualização de Dados/PP1/.ipynb_checkpoints/Solução #1.2-checkpoint.ipynb
3 - Análise e Visualização de Dados/PP2/.ipynb_checkpoints/Foursquare-Analyze-checkpoint.ipynb
5 - Machine Learning/PP3/.ipynb_checkpoints/SPECT-checkpoint.ipynb
5 - Machine Learning/Atividade Prática/.ipynb_checkpoints/Aula Prática - Iris Dataset-checkpoint.ipynb
